#scoretitle{
	font-family: "Tahoma";
	color: #c7d1d1;
	font-size: 30px;
	text-align: center;
}

#score{
    font-family: "Tahoma";
    color: #c7d1d1;
    font-size: 30px;
    text-align: center;
}

#cube{
    height: 250px;
    width: 250px;
    border-radius: 80%;
    margin: auto;
}

#green{
    height: 400px;
    width: 200px;
    margin: 0px -2px 0px 0px;
    background-color: #99ffd1;
    background: -webkit-linear-gradient(top, rgba(153, 255, 209, 0) 0%, rgba(153, 255, 209, 1) 40%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(153, 255, 209, 0) 0%, rgba(153, 255, 209, 1) 40%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(153, 255, 209, 0) 0%, rgba(153, 255, 209, 1) 40%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(153, 255, 209, 0) 0%, rgba(153, 255, 209, 1) 40%); /* Standard syntax (must be last) */
    display: inline-block;
}

#blue{
    height: 400px;
    width: 200px;
    margin: 0px 0px 0px -2px;
    background-color: #99d8ff;
    background: -webkit-linear-gradient(top, rgba(153, 216, 255, 0), rgba(153, 216, 255, 1) 40%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(153, 216, 255, 0), rgba(153, 216, 255, 1) 40%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(153, 216, 255, 0), rgba(153, 216, 255, 1) 40%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(153, 216, 255, 0) 0%, rgba(153, 216, 255, 1) 40%); /* Standard syntax (must be last) */
    display: inline-block;
}

.inner{
    font-family: "Tahoma";
    color: #fff;
    font-size: 50px;
    position: absolute;
}

#greentext{
    margin: 340px 0px 0px 0px;
}

#bluetext{
    margin: 340px 0px 0px 107px;
}

.point{
    font-family: "Tahoma";
    color: #fff;
    font-size: 50px;
    position: absolute;
    margin: 400px 0px 0px 75px;
}

.gameover{
    background-color: #f99
}